<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoffeeShop.Web</title>
    <link rel="icon" type="image/x-icon" href="~/logovaa.svg" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoffeeShop.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="bg-white dark:bg-gray-900 shadow">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-brown-700 dark:text-white">
            ☕ Coffee Shop
        </h1>

        <button onclick="toggleTheme()"
                class="px-4 py-2 rounded-lg bg-gray-200 dark:bg-gray-700
                       text-gray-800 dark:text-gray-100 transition">
            🌙 / ☀️
        </button>
    </div>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - CoffeeShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/theme.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>